<%- if user_signed_in? %>
  <h1>Edit Product</h1>

  <%= form_with(model: @equipment, local: true) do |form| %>

    <% if @equipment.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@equipment.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @equipment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :price %><br>
      <%= form.text_field :price %>
    </p>

    <p>
      <%= form.label :brief_description %><br>
      <%= form.text_area :brief_description %>
    </p>

    <p>
      <%= form.label :features %>
      <span> (Note: Put each feature on a new line.)</span><br>
      <%= form.text_area :features %>
    </p>

    <p>
      <%= form.label :picture %><br>
      <%= form.file_field :picture %>
    </p>

    <p>
      <%= form.submit %>
    </p>

  <% end %>

  <%= link_to 'Back', equipments_path %>
<% end %>
